/*stylesheet*/

/* Here is my nice comment */

/* teirs of cascading styles
Importance-

1 transition 
2!important
3. animation
4. normal 


Origin 
website 
user 
browser

Secificty
inline > id > class > type 

position
top to bottom

*/

body{
 background-color: #e6e6e6;
color: #333333;
}

/*you can also type in a color name like blue -->
<!--  backround-color:#e6e6e6; */

/* This is how to write a css comment */

/* selector points to what you want to style */


h1{

    font-size:48pt;
    color: green;
    font-weight: 800;

}

/* fonnt weight can be from thin to bold dempending on numbers */

h1,h2,h3,h4{
    margin: 8;
}

P:last-child{
    color: blue;
}

p{ 
    color: purple !important;

 }

