/*stylesheet*/

/* Here is my nice comment */

body{
 background-color: #e6e6e6;
color: #333333;
}

h1#main-headline {  
    font-size:48px;
    color: green;
    font-weight: 800;
}
  /* The h1# main-headline means that a identifer is defined. */
  
 /* Here we changed the font color of the title intro to CSS Lesson */

 /* Next linked h1 to act as the main headline */

 h1.main-headline {  
    font-size:48px;
    color: red;
    font-weight: 800;
}

 /* The h1.main-headline means that a class is defined. */

 /* The function below is called a group selector  */

h1,h2,h3,h4{
    margin:0;
}

/* doing this  function sqwishes everthing on the web page closer together 
 h1,h2,h3,h4{
    margin:0;
}  */



/* p last child do something with the last html paragraph block */

P:last-child{
    color: blue;
}

/*p{ 
    color: purple !important;

 }